In [ ]:
#Task 1 - Fitbit Dataset
# 1. Read this dataset in pandas , mysql and mongodb

In [1]:
import pandas as pd

In [2]:
fitbit_df = pd.read_csv("G:\\Backup 16-05-2022\\Downloads\\Data_set\\31-07-2022\\FitBit data.csv",index_col=False)

In [25]:
fitbit_df

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories,Conv_Activ_date
0,1503960366,3/25/2016,11004,7.110000,7.110000,0.0,2.57,0.46,4.07,0.00,33,12,205,804,1819,2016-03-25
1,1503960366,3/26/2016,17609,11.550000,11.550000,0.0,6.92,0.73,3.91,0.00,89,17,274,588,2154,2016-03-26
2,1503960366,3/27/2016,12736,8.530000,8.530000,0.0,4.66,0.16,3.71,0.00,56,5,268,605,1944,2016-03-27
3,1503960366,3/28/2016,13231,8.930000,8.930000,0.0,3.19,0.79,4.95,0.00,39,20,224,1080,1932,2016-03-28
4,1503960366,3/29/2016,12041,7.850000,7.850000,0.0,2.16,1.09,4.61,0.00,28,28,243,763,1886,2016-03-29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,8877689391,4/8/2016,23014,20.389999,20.389999,0.0,11.10,0.63,8.62,0.00,70,29,359,982,4196,2016-04-08
453,8877689391,4/9/2016,16470,8.070000,8.070000,0.0,0.00,0.02,8.02,0.00,90,9,289,1052,3841,2016-04-09
454,8877689391,4/10/2016,28497,27.530001,27.530001,0.0,21.92,1.12,4.46,0.00,128,46,211,1055,4526,2016-04-10
455,8877689391,4/11/2016,10622,8.060000,8.060000,0.0,1.47,0.15,6.37,0.01,18,7,225,1190,2820,2016-04-11
456,8877689391,4/12/2016,2350,1.780000,1.780000,0.0,0.00,0.00,1.78,0.00,0,0,58,531,938,2016-04-12

In [ ]:
#3. convert all the dates avaible in dataset to timestamp format in pandas and in sql you to convert it in date format

In [3]:
fitbit_df['Conv_Activ_date'] = pd.to_datetime(fitbit_df['ActivityDate'])

In [4]:
fit = fitbit_df.head()

In [5]:
fit

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories,Conv_Activ_date
0,1503960366,3/25/2016,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819,2016-03-25
1,1503960366,3/26/2016,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154,2016-03-26
2,1503960366,3/27/2016,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944,2016-03-27
3,1503960366,3/28/2016,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,39,20,224,1080,1932,2016-03-28
4,1503960366,3/29/2016,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,28,28,243,763,1886,2016-03-29

In [ ]:
#4 . Find out in this data that how many unique id's we have

In [6]:
unique_id = list(fitbit_df['Id'].unique())

In [7]:
len(unique_id)

35

In [39]:
#5 . which id is one of the active id that you have in whole dataset

In [8]:
def convert_distance(a):
    return float(a)*100

In [9]:
conv_very_active_distance = []
for i in fitbit_df['VeryActiveDistance']:
    conv_very_active_distance.append(convert_distance(i))
conv_very_active_distance
fitbit_df['conv_very_active_distance']=conv_very_active_distance

In [10]:
fitbit_df.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories,Conv_Activ_date,conv_very_active_distance
0,1503960366,3/25/2016,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819,2016-03-25,256.999993
1,1503960366,3/26/2016,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154,2016-03-26,692.000008
2,1503960366,3/27/2016,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944,2016-03-27,465.999985
3,1503960366,3/28/2016,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,39,20,224,1080,1932,2016-03-28,319.000006
4,1503960366,3/29/2016,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,28,28,243,763,1886,2016-03-29,216.000009

In [11]:
fitbit_df.groupby(['Id'])['conv_very_active_distance'].sum()

Id
1503960366    5288.999981
1624580081      97.999999
1644430081    1133.999975
1844505072      61.000001
1927972279       0.000000
2022484408    3703.000028
2026352035       0.000000
2320127002      94.999998
2347167796    1291.999981
2873212765     395.999999
2891001357       0.000000
3372868164     743.999982
3977333714    1002.000011
4020332650     530.000003
4057192912     320.000006
4319703577     554.000002
4388161847       0.000000
4445114986     634.999996
4558609924     217.000002
4702921684     357.000004
5553957443    1814.000013
5577150313    3425.999975
6117666160      42.000000
6290855005     201.999998
6391747486     202.999997
6775888955     847.999985
6962181067    3613.000005
7007744171    4247.999926
7086361926    1834.999989
8053475328    9393.000007
8253242879     723.999983
8378563200    2358.000022
8583815059      37.000000
8792009665      57.999999
8877689391    8739.000034
Name: conv_very_active_distance, dtype: float64

In [12]:
fitbit_df.groupby(['Id'])['conv_very_active_distance'].sum().idxmax()

8053475328

In [ ]:
#6 . how many of them have not logged there activity find out in terms of number of ids

In [13]:
fitbit_df.groupby(['Id'])['LoggedActivitiesDistance'].sum().apply(lambda x : x<1).value_counts()

True     30
False     5
Name: LoggedActivitiesDistance, dtype: int64

In [ ]:
#7 . Find out who is the laziest person id that we have in dataset

In [14]:
fitbit_df.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories,Conv_Activ_date,conv_very_active_distance
0,1503960366,3/25/2016,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819,2016-03-25,256.999993
1,1503960366,3/26/2016,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154,2016-03-26,692.000008
2,1503960366,3/27/2016,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944,2016-03-27,465.999985
3,1503960366,3/28/2016,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,39,20,224,1080,1932,2016-03-28,319.000006
4,1503960366,3/29/2016,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,28,28,243,763,1886,2016-03-29,216.000009

In [15]:
conv_light_active_distance = []
for i in fitbit_df['LightActiveDistance']:
    conv_light_active_distance.append(convert_distance(i))
conv_light_active_distance
fitbit_df['conv_light_active_distance']=conv_light_active_distance

In [26]:
fitbit_df.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories,Conv_Activ_date,conv_very_active_distance,conv_light_active_distance
0,1503960366,3/25/2016,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819,2016-03-25,256.999993,407.000017
1,1503960366,3/26/2016,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154,2016-03-26,692.000008,391.000009
2,1503960366,3/27/2016,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944,2016-03-27,465.999985,371.000004
3,1503960366,3/28/2016,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,39,20,224,1080,1932,2016-03-28,319.000006,494.999981
4,1503960366,3/29/2016,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,28,28,243,763,1886,2016-03-29,216.000009,461.000013

In [16]:
fitbit_df.groupby(['Id'])['conv_light_active_distance'].sum()

Id
1503960366    7939.000022
1624580081    5052.999961
1644430081    3580.000019
1844505072    2788.999975
1927972279    1738.999994
2022484408    5766.999960
2026352035    2523.999977
2320127002    2397.999942
2347167796    6580.999947
2873212765    4651.999986
2891001357     483.000004
3372868164    3346.000028
3977333714    4306.999999
4020332650    7171.000036
4057192912    3317.000039
4319703577    4890.999961
4388161847       0.000000
4445114986    3660.999948
4558609924    4232.000047
4702921684    8084.000015
5553957443    3690.999985
5577150313    2952.000004
6117666160    5908.999991
6290855005     653.000021
6391747486     759.000003
6775888955    1640.999990
6962181067    5985.000011
7007744171    5589.000005
7086361926    2391.999994
8053475328    2795.000048
8253242879     950.999999
8378563200    4753.999996
8583815059    1788.000000
8792009665    2182.000023
8877689391    7527.000070
Name: conv_light_active_distance, dtype: float64

In [17]:
fitbit_df.groupby(['Id'])['conv_light_active_distance'].sum().idxmin()

4388161847

In [ ]:
#8 . Explore over an internet that how much calories burn is required for a healthy person and find out how many healthy person we have in our dataset

In [ ]:
# According to internet the healthy person could burn at least 2200 calories in a day

In [18]:
fitbit_df.groupby(['Id'])['Calories'].max().apply(lambda x : x>2000).value_counts()

True     30
False     5
Name: Calories, dtype: int64

In [19]:
#9. how many person are not a regular person with respect to activity try to find out those

In [20]:
fitbit_df.groupby(['Id'])['TotalSteps'].apply(lambda x : x==0).value_counts()

False    396
True      61
Name: TotalSteps, dtype: int64

In [ ]:
#10 . who is the thired most active person in this dataset find out those in pandas and in sql both .

In [21]:
fitbit_df.groupby(['Id'])['VeryActiveMinutes'].sum().sort_values(ascending =False)

Id
8053475328    933
5577150313    900
8877689391    802
1503960366    681
8378563200    665
7007744171    536
6962181067    495
2022484408    481
7086361926    315
5553957443    283
6775888955    179
2347167796    177
1644430081    148
3977333714    146
4020332650    130
3372868164    118
4319703577     79
6290855005     78
4445114986     76
8253242879     70
2873212765     61
4558609924     52
6391747486     46
4702921684     44
4057192912     40
8792009665     18
1624580081     14
2320127002     11
1844505072      9
6117666160      5
8583815059      5
4388161847      0
2891001357      0
2026352035      0
1927972279      0
Name: VeryActiveMinutes, dtype: int64

In [22]:
fitbit_df.groupby(['Id'])['VeryActiveMinutes'].sum().sort_values(ascending =False)[2:3]

Id
8877689391    802
Name: VeryActiveMinutes, dtype: int64

In [ ]:
#11 . who is the 5th most laziest person avilable in dataset find it out

In [23]:
fitbit_df.groupby(['Id'])['LightlyActiveMinutes'].sum().sort_values()

Id
4388161847       0
6391747486     309
6290855005     393
8253242879     711
8583815059    1097
6775888955    1116
7086361926    1215
1927972279    1340
2891001357    1350
4057192912    1384
2320127002    1511
8792009665    1585
8053475328    1698
5577150313    1730
1844505072    1902
8378563200    2027
2026352035    2032
5553957443    2200
1644430081    2277
1624580081    2300
3977333714    2483
3372868164    2869
8877689391    2892
4319703577    2984
4558609924    2998
6117666160    2999
4445114986    3009
2022484408    3046
2873212765    3303
7007744171    3330
6962181067    3620
4702921684    3701
2347167796    3803
4020332650    4172
1503960366    4336
Name: LightlyActiveMinutes, dtype: int64

In [24]:
fitbit_df.groupby(['Id'])['LightlyActiveMinutes'].sum().sort_values()[4:5]

Id
8583815059    1097
Name: LightlyActiveMinutes, dtype: int64

In [ ]:
#12 . what is a total acumulative calories burn for a person find out

In [25]:
fitbit_df.groupby(['Id'])['Calories'].sum()

Id
1503960366    34128
1624580081    25705
1644430081    29164
1844505072    19391
1927972279    27048
2022484408    29704
2026352035    16266
2320127002    18385
2347167796    30320
2873212765    20349
2891001357    18187
3372868164    18603
3977333714    16777
4020332650    98412
4057192912    60913
4319703577    23931
4388161847    14442
4445114986    31617
4558609924    21962
4702921684    42322
5553957443    21630
5577150313    36303
6117666160    20993
6290855005    21656
6391747486    15868
6775888955    24523
6962181067    29249
7007744171    31525
7086361926    26124
8053475328    31825
8253242879    17556
8378563200    40274
8583815059    19130
8792009665    24884
8877689391    41414
Name: Calories, dtype: int64

In [26]:
st_usa_ord = pd.read_excel(r'G:\Backup 16-05-2022\Downloads\Data_set\31-07-2022\Superstore_USA.xlsx',sheet_name='Orders')

In [72]:
st_usa_ord

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,1.320000,2,5.90,88525
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.560000,4,13.01,88522
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.640000,7,49.92,88523
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.510000,7,41.64,88523
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.202300,8,1446.67,88523
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,East,West Virginia,Charleston,25314,2013-05-14,2013-05-15,137.860000,13,447.87,87532
9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,East,West Virginia,Charleston,25314,2013-05-14,2013-05-14,-39.070000,3,13.23,87532
9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,Furniture,...,East,West Virginia,Charleston,25314,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533
9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,...,West,Wyoming,Cheyenne,82001,2010-02-08,2010-02-11,349.485000,5,506.50,87530
9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,Office Supplies,...,West,Wyoming,Cheyenne,82001,2013-09-12,2013-09-14,78.062400,23,172.48,87533

In [27]:
st_usa_retn = pd.read_excel(r'G:\Backup 16-05-2022\Downloads\Data_set\31-07-2022\Superstore_USA.xlsx',sheet_name='Returns')

In [73]:
st_usa_retn

      Order ID    Status
0           65  Returned
1          612  Returned
2          614  Returned
3          678  Returned
4          710  Returned
...        ...       ...
1629    182681  Returned
1630    182683  Returned
1631    182750  Returned
1632    182781  Returned
1633    182906  Returned

[1634 rows x 2 columns]

In [28]:
st_usa_usr = pd.read_excel(r'G:\Backup 16-05-2022\Downloads\Data_set\31-07-2022\Superstore_USA.xlsx',sheet_name='Users')

In [70]:
st_usa_usr

    Region  Manager
0  Central    Chris
1     East     Erin
2    South      Sam
3     West  William

In [ ]:
#4 . try  to join order and return data both in sql and pandas

In [29]:
st_usa_fin = pd.merge(st_usa_ord,st_usa_retn)

In [30]:
st_usa_fin

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Status
0,1359,Low,0.05,5.85,2.27,21,Tony Wilkins Winters,Regular Air,Small Business,Office Supplies,...,New York,New York City,10012,2011-04-20,2011-04-24,-6.8200,9,54.79,9895,Returned
1,1950,Medium,0.01,4.91,0.50,117,Linda Weiss,Regular Air,Home Office,Office Supplies,...,Washington,Seattle,98103,2010-04-04,2010-04-06,112.0600,47,228.46,13959,Returned
2,1951,Medium,0.09,4.00,1.30,117,Linda Weiss,Express Air,Home Office,Office Supplies,...,Washington,Seattle,98103,2010-04-04,2010-04-06,16.7900,19,77.61,13959,Returned
3,5055,High,0.02,3.28,5.00,117,Linda Weiss,Regular Air,Home Office,Office Supplies,...,Washington,Seattle,98103,2013-08-16,2013-08-18,-89.0600,52,190.52,36038,Returned
4,5573,Low,0.02,11.97,5.81,272,Eleanor Swain,Regular Air,Small Business,Office Supplies,...,North Carolina,Charlotte,28204,2013-08-12,2013-08-12,-81.9413,76,912.06,39490,Returned
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,986,Not Specified,0.06,37.94,5.08,3075,Gordon Brandt,Regular Air,Corporate,Office Supplies,...,California,Los Angeles,90061,2013-01-04,2013-01-06,-33.9680,3,113.14,7107,Returned
94,987,Not Specified,0.10,55.29,5.08,3075,Gordon Brandt,Regular Air,Corporate,Office Supplies,...,California,Los Angeles,90061,2013-01-04,2013-01-05,163.1200,35,1886.52,7107,Returned
95,6041,Medium,0.05,4.28,6.18,3075,Gordon Brandt,Express Air,Corporate,Office Supplies,...,California,Los Angeles,90061,2013-06-25,2013-06-27,-22.5600,12,73.71,42823,Returned
96,1910,High,0.05,14.48,1.99,3079,Andrew Levine,Regular Air,Consumer,Technology,...,Pennsylvania,Philadelphia,19112,2012-09-30,2012-10-02,165.2000,96,1337.67,13638,Returned
97,6625,High,0.06,128.24,12.65,3251,Peter Brooks,Regular Air,Small Business,Furniture,...,New York,New York City,10112,2012-09-11,2012-09-13,1844.9600,92,12002.16,47109,Returned

In [ ]:
#3 . Find out how return that we ahve recived and with a product id

In [31]:
st_usa_fin.groupby(['Row ID'])['Status'].count()

Row ID
95      1
96      1
653     1
654     1
979     1
       ..
8079    1
8080    1
8081    1
8251    1
8389    1
Name: Status, Length: 98, dtype: int64

In [ ]:
#5 . Try to find out how many unique customer that we have

In [32]:
len(st_usa_ord['Customer ID'].unique())

2703

In [ ]:
#6 . try to find out in how many regions we are selling a product and who is a manager for a respective region

In [33]:
st_usa_ord.head()

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,1.3200,2,5.90,88525
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.5600,4,13.01,88522
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.6400,7,49.92,88523
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.5100,7,41.64,88523
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.2023,8,1446.67,88523

In [34]:
st_usa_ord['Region'].unique()

array(['Central', 'West', 'East', 'South'], dtype=object)

In [35]:
st_usa_usr

    Region  Manager
0  Central    Chris
1     East     Erin
2    South      Sam
3     West  William

In [ ]:
#7 . find out how many different differnet shipement mode that we have and what is a percentage usablity of all the shipment mode with respect to dataset

In [62]:
shipm = st_usa_ord['Ship Mode']

In [63]:
shipm

0          Regular Air
1          Express Air
2          Express Air
3          Regular Air
4          Express Air
             ...
9421       Regular Air
9422       Regular Air
9423    Delivery Truck
9424       Express Air
9425       Express Air
Name: Ship Mode, Length: 9426, dtype: object

In [65]:
ship_count = pd.Series(shipm).value_counts()
ship_count

Regular Air       7036
Delivery Truck    1283
Express Air       1107
Name: Ship Mode, dtype: int64

In [68]:
ship_1 = pd.DataFrame(ship_count)
ship_1

                Ship Mode
Regular Air          7036
Delivery Truck       1283
Express Air          1107

In [70]:
shipment_total = ship_1.sum()
shipment_total

Ship Mode    9426
dtype: int64

In [72]:
((ship_1[['Ship Mode']])/shipment_total)*100 #percentage

                Ship Mode
Regular Air     74.644600
Delivery Truck  13.611288
Express Air     11.744112

In [ ]:
#8 . Create a new coulmn and try to find our a diffrence between order date and shipment date

In [77]:
st_usa_ord["difference_date"] =  st_usa_ord['Ship Date'] - st_usa_ord['Order Date'] 
st_usa_ord

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,difference_date
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Illinois,Addison,60101,2012-05-28,2012-05-30,1.320000,2,5.90,88525,2 days
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.560000,4,13.01,88522,1 days
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.640000,7,49.92,88523,1 days
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.510000,7,41.64,88523,1 days
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.202300,8,1446.67,88523,0 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,West Virginia,Charleston,25314,2013-05-14,2013-05-15,137.860000,13,447.87,87532,1 days
9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,West Virginia,Charleston,25314,2013-05-14,2013-05-14,-39.070000,3,13.23,87532,0 days
9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,Furniture,...,West Virginia,Charleston,25314,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533,2 days
9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,...,Wyoming,Cheyenne,82001,2010-02-08,2010-02-11,349.485000,5,506.50,87530,3 days
9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,Office Supplies,...,Wyoming,Cheyenne,82001,2013-09-12,2013-09-14,78.062400,23,172.48,87533,2 days

In [ ]:
#9 . base on question number 8 find out for which order id we have shipment duration more than 10 days

In [81]:
st_usa_ord[(st_usa_ord['difference_date'].dt.components['days']>10)]

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,difference_date
643,18246,Critical,0.05,11.09,5.25,250,Brenda Nelson Blanchard,Regular Air,Corporate,Office Supplies,...,Minnesota,Richfield,55423,2011-12-29,2012-03-22,58.5000,19,204.67,87215,84 days
1548,23091,Medium,0.04,100.98,7.18,595,Dana Desai,Regular Air,Small Business,Technology,...,Indiana,Bloomington,47401,2011-12-30,2012-01-10,375.7050,6,587.46,86318,11 days
1549,23092,Medium,0.09,6.48,7.49,595,Dana Desai,Express Air,Small Business,Office Supplies,...,Indiana,Bloomington,47401,2011-12-30,2012-01-14,-47.3950,12,79.37,86318,15 days
1678,20703,Not Specified,0.07,130.98,30.00,637,Christopher Bryant,Delivery Truck,Consumer,Furniture,...,California,Santa Clara,95051,2011-12-30,2012-01-16,-211.8850,21,2699.94,87957,17 days
1679,20704,Not Specified,0.09,55.98,4.86,637,Christopher Bryant,Regular Air,Consumer,Office Supplies,...,California,Santa Clara,95051,2011-12-30,2012-01-10,355.0119,10,514.51,87957,11 days
1680,20705,Not Specified,0.08,115.99,4.23,637,Christopher Bryant,Regular Air,Consumer,Technology,...,California,Santa Clara,95051,2011-12-30,2012-01-27,1021.4001,16,1480.29,87957,28 days
1697,2703,Not Specified,0.07,130.98,30.00,640,Neal Wolfe,Delivery Truck,Consumer,Furniture,...,Washington,Seattle,98119,2011-12-30,2012-01-16,-423.7700,83,10671.20,19556,17 days
1698,2704,Not Specified,0.09,55.98,4.86,640,Neal Wolfe,Regular Air,Consumer,Office Supplies,...,Washington,Seattle,98119,2011-12-30,2012-01-10,469.6900,41,2109.51,19556,11 days
1699,2705,Not Specified,0.08,115.99,4.23,640,Neal Wolfe,Regular Air,Consumer,Technology,...,Washington,Seattle,98119,2011-12-30,2012-01-27,727.3620,65,6013.69,19556,28 days
2515,18060,Low,0.02,2.21,1.00,964,Virginia Rivera,Regular Air,Home Office,Office Supplies,...,California,Redwood City,94061,2011-12-30,2012-03-31,5.8200,10,22.35,86177,92 days
5548,21603,Not Specified,0.02,5.58,1.99,2048,Ricky Dougherty,Regular Air,Consumer,Office Supplies,...,South Dakota,Brookings,57006,2011-12-30,2012-01-13,66.2250,21,121.51,88223,14 days
5673,19005,Low,0.06,65.99,2.50,2088,Carrie Boyle,Regular Air,Corporate,Technology,...,New York,Mount Vernon,10550,2011-12-28,2012-01-14,187.4880,8,451.34,88352,17 days
5859,24392,Low,0.05,29.89,1.99,2143,Lester Sawyer,Regular Air,Home Office,Technology,...,Virginia,Fairfax,20151,2011-12-26,2012-01-17,4230.2001,12,344.16,87572,22 days
5881,21257,Low,0.05,7.99,5.03,2153,Anna Glenn,Regular Air,Home Office,Technology,...,California,Pasadena,91104,2011-12-26,2012-01-19,-23.4520,2,15.56,91294,24 days
8607,26351,Medium,0.00,8.32,2.38,3119,Jay Hubbard,Express Air,Corporate,Technology,...,Florida,Orlando,32839,2011-12-29,2012-01-16,-1075.3960,19,170.62,86434,18 days
8609,26350,Medium,0.07,180.98,55.24,3119,Jay Hubbard,Delivery Truck,Corporate,Office Supplies,...,Florida,Orlando,32839,2013-12-29,2014-01-15,-147.5180,25,4529.95,86436,17 days
8610,26352,Medium,0.06,4.20,2.26,3119,Jay Hubbard,Regular Air,Corporate,Office Supplies,...,Florida,Orlando,32839,2013-12-29,2014-01-17,-689.8738,2,9.64,86436,19 days
8973,20750,Low,0.06,125.99,8.08,3248,Earl Donnelly,Express Air,Corporate,Technology,...,Louisiana,Slidell,70458,2011-12-26,2012-01-14,2.4780,20,2180.31,87300,19 days
8982,2748,Low,0.03,11.97,5.81,3251,Peter Brooks,Regular Air,Corporate,Office Supplies,...,New York,New York City,10112,2011-12-26,2012-01-22,-31.7400,31,388.52,19841,27 days
8983,2749,Low,0.08,195.99,4.20,3251,Peter Brooks,Regular Air,Corporate,Technology,...,New York,New York City,10112,2011-12-26,2012-01-26,-557.9530,13,2092.05,19841,31 days
8993,2750,Low,0.06,125.99,8.08,3251,Peter Brooks,Express Air,Corporate,Technology,...,New York,New York City,10112,2013-12-26,2014-01-14,1304.5590,86,9375.35,19841,19 days
8996,20748,Low,0.03,11.97,5.81,3252,Milton Harrell,Regular Air,Corporate,Office Supplies,...,New York,Rotterdam,12306,2011-12-26,2012-01-22,-15.8700,8,100.26,87300,27 days
8997,20749,Low,0.08,195.99,4.20,3252,Milton Harrell,Regular Air,Corporate,Technology,...,New York,Rotterdam,12306,2011-12-26,2012-01-26,-278.9765,3,482.78,87300,31 days

In [ ]:
#10 . Try to find out a list of a returned order which sihpment duration was more then 15 days and find out that region manager as well

In [83]:
st_usa_fin.head()

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Status
0,1359,Low,0.05,5.85,2.27,21,Tony Wilkins Winters,Regular Air,Small Business,Office Supplies,...,New York,New York City,10012,2011-04-20,2011-04-24,-6.8200,9,54.79,9895,Returned
1,1950,Medium,0.01,4.91,0.50,117,Linda Weiss,Regular Air,Home Office,Office Supplies,...,Washington,Seattle,98103,2010-04-04,2010-04-06,112.0600,47,228.46,13959,Returned
2,1951,Medium,0.09,4.00,1.30,117,Linda Weiss,Express Air,Home Office,Office Supplies,...,Washington,Seattle,98103,2010-04-04,2010-04-06,16.7900,19,77.61,13959,Returned
3,5055,High,0.02,3.28,5.00,117,Linda Weiss,Regular Air,Home Office,Office Supplies,...,Washington,Seattle,98103,2013-08-16,2013-08-18,-89.0600,52,190.52,36038,Returned
4,5573,Low,0.02,11.97,5.81,272,Eleanor Swain,Regular Air,Small Business,Office Supplies,...,North Carolina,Charlotte,28204,2013-08-12,2013-08-12,-81.9413,76,912.06,39490,Returned

In [84]:
st_usa_fin["difference_date"] =  st_usa_fin['Ship Date'] - st_usa_fin['Order Date'] 
st_usa_fin

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Status,difference_date
0,1359,Low,0.05,5.85,2.27,21,Tony Wilkins Winters,Regular Air,Small Business,Office Supplies,...,New York City,10012,2011-04-20,2011-04-24,-6.8200,9,54.79,9895,Returned,4 days
1,1950,Medium,0.01,4.91,0.50,117,Linda Weiss,Regular Air,Home Office,Office Supplies,...,Seattle,98103,2010-04-04,2010-04-06,112.0600,47,228.46,13959,Returned,2 days
2,1951,Medium,0.09,4.00,1.30,117,Linda Weiss,Express Air,Home Office,Office Supplies,...,Seattle,98103,2010-04-04,2010-04-06,16.7900,19,77.61,13959,Returned,2 days
3,5055,High,0.02,3.28,5.00,117,Linda Weiss,Regular Air,Home Office,Office Supplies,...,Seattle,98103,2013-08-16,2013-08-18,-89.0600,52,190.52,36038,Returned,2 days
4,5573,Low,0.02,11.97,5.81,272,Eleanor Swain,Regular Air,Small Business,Office Supplies,...,Charlotte,28204,2013-08-12,2013-08-12,-81.9413,76,912.06,39490,Returned,0 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,986,Not Specified,0.06,37.94,5.08,3075,Gordon Brandt,Regular Air,Corporate,Office Supplies,...,Los Angeles,90061,2013-01-04,2013-01-06,-33.9680,3,113.14,7107,Returned,2 days
94,987,Not Specified,0.10,55.29,5.08,3075,Gordon Brandt,Regular Air,Corporate,Office Supplies,...,Los Angeles,90061,2013-01-04,2013-01-05,163.1200,35,1886.52,7107,Returned,1 days
95,6041,Medium,0.05,4.28,6.18,3075,Gordon Brandt,Express Air,Corporate,Office Supplies,...,Los Angeles,90061,2013-06-25,2013-06-27,-22.5600,12,73.71,42823,Returned,2 days
96,1910,High,0.05,14.48,1.99,3079,Andrew Levine,Regular Air,Consumer,Technology,...,Philadelphia,19112,2012-09-30,2012-10-02,165.2000,96,1337.67,13638,Returned,2 days
97,6625,High,0.06,128.24,12.65,3251,Peter Brooks,Regular Air,Small Business,Furniture,...,New York City,10112,2012-09-11,2012-09-13,1844.9600,92,12002.16,47109,Returned,2 days

In [85]:
st_usa_fin[(st_usa_fin['difference_date'].dt.components['days']>15)]

Empty DataFrame
Columns: [Row ID, Order Priority, Discount, Unit Price, Shipping Cost, Customer ID, Customer Name, Ship Mode, Customer Segment, Product Category, Product Sub-Category, Product Container, Product Name, Product Base Margin, Region, State or Province, City, Postal Code, Order Date, Ship Date, Profit, Quantity ordered new, Sales, Order ID, Status, difference_date]
Index: []

[0 rows x 26 columns]

In [ ]:
#11 . Gorup by region and find out which region is more profitable

In [87]:
st_usa_ord.columns

Index(['Row ID', 'Order Priority', 'Discount', 'Unit Price', 'Shipping Cost',
       'Customer ID', 'Customer Name', 'Ship Mode', 'Customer Segment',
       'Product Category', 'Product Sub-Category', 'Product Container',
       'Product Name', 'Product Base Margin', 'Region', 'State or Province',
       'City', 'Postal Code', 'Order Date', 'Ship Date', 'Profit',
       'Quantity ordered new', 'Sales', 'Order ID', 'difference_date'],
      dtype='object')

In [88]:
st_usa_ord.groupby(['Region'])['Profit'].max()

Region
Central    12504.9045
East        9228.2256
South      16332.4140
West        8917.7187
Name: Profit, dtype: float64

In [ ]:
#12 . Try to find out overalll in which country we are giving more discount

In [107]:
st_usa_ord.groupby(['State or Province'])['Discount'].max().sort_values(ascending =False)

State or Province
Illinois                0.25
Minnesota               0.17
Alabama                 0.10
Rhode Island            0.10
New Jersey              0.10
New Mexico              0.10
New York                0.10
North Carolina          0.10
North Dakota            0.10
Ohio                    0.10
Oklahoma                0.10
Oregon                  0.10
Pennsylvania            0.10
South Carolina          0.10
Nevada                  0.10
South Dakota            0.10
Tennessee               0.10
Texas                   0.10
Utah                    0.10
Vermont                 0.10
Virginia                0.10
Washington              0.10
West Virginia           0.10
Wisconsin               0.10
New Hampshire           0.10
Montana                 0.10
Nebraska                0.10
Arizona                 0.10
Arkansas                0.10
California              0.10
Colorado                0.10
Connecticut             0.10
District of Columbia    0.10
Florida                 0.10
Georgia                 0.10
Idaho                   0.10
Indiana                 0.10
Iowa                    0.10
Kansas                  0.10
Kentucky                0.10
Louisiana               0.10
Maine                   0.10
Maryland                0.10
Massachusetts           0.10
Michigan                0.10
Mississippi             0.10
Missouri                0.10
Wyoming                 0.10
Delaware                0.09
Name: Discount, dtype: float64

In [108]:
st_usa_ord.groupby(['State or Province'])['Discount'].max().sort_values(ascending =False)[0:1]

State or Province
Illinois    0.25
Name: Discount, dtype: float64

In [ ]:
#13 . Give me a list of unique postal code

In [110]:
list(st_usa_ord['Postal Code'].unique())

[60101,
 98221,
 91776,
 95123,
 2724,
 3110,
 8101,
 8109,
 7203,
 2907,
 55372,
 11787,
 13210,
 59405,
 59601,
 59801,
 68005,
 10012,
 92653,
 92677,
 92530,
 92630,
 90712,
 93534,
 90260,
 97405,
 97526,
 97030,
 97123,
 97303,
 62002,
 98373,
 98052,
 75019,
 23834,
 62701,
 60107,
 60477,
 14150,
 12180,
 77642,
 75080,
 77471,
 78664,
 75088,
 24153,
 94043,
 92563,
 94559,
 10177,
 2917,
 5401,
 4070,
 2331,
 8830,
 8701,
 7470,
 7481,
 5201,
 97035,
 44708,
 45231,
 44105,
 95687,
 5451,
 94591,
 70056,
 22102,
 60601,
 66209,
 66215,
 66502,
 66062,
 6510,
 4401,
 4005,
 2129,
 2038,
 1852,
 1752,
 2067,
 3820,
 8618,
 7644,
 7110,
 8861,
 7095,
 2895,
 97128,
 97504,
 98103,
 84118,
 84041,
 93277,
 76903,
 78207,
 60004,
 94952,
 1510,
 1106,
 1880,
 6401,
 6360,
 2664,
 15122,
 76148,
 5439,
 5403,
 37664,
 37918,
 37086,
 37087,
 80525,
 80817,
 60452,
 76131,
 98059,
 99352,
 37804,
 70802,
 4092,
 7024,
 76240,
 98158,
 78415,
 94122,
 4011,
 4240,
 2474,
 2540,
 1580,
 3038,
 60505,
 84043,
 84321,
 66212,
 48138,
 85335,
 74006,
 75217,
 77536,
 90660,
 13501,
 11580,
 63114,
 84044,
 84047,
 84107,
 60453,
 2021,
 2766,
 7101,
 28227,
 60302,
 60462,
 50208,
 80027,
 66203,
 81503,
 80634,
 37922,
 38109,
 55423,
 55901,
 55113,
 80126,
 80232,
 17331,
 33772,
 87505,
 12208,
 44106,
 43229,
 78589,
 86001,
 85234,
 85301,
 30297,
 28204,
 6824,
 6111,
 6226,
 7109,
 66614,
 67212,
 80538,
 80233,
 80134,
 6830,
 6770,
 6855,
 4073,
 1069,
 2725,
 21234,
 21128,
 21208,
 20854,
 98115,
 91945,
 94404,
 60130,
 1007,
 7111,
 8052,
 21133,
 60510,
 3045,
 7410,
 97045,
 97206,
 44221,
 6478,
 33181,
 4101,
 3246,
 3101,
 7010,
 2878,
 33132,
 13601,
 85338,
 86401,
 19406,
 93727,
 4072,
 7628,
 7071,
 2816,
 2910,
 2886,
 94601,
 2149,
 1840,
 48234,
 37814,
 62223,
 61008,
 61701,
 60440,
 19026,
 68025,
 68801,
 68847,
 68502,
 48509,
 63105,
 13021,
 13905,
 28001,
 45406,
 43015,
 95240,
 90805,
 4901,
 8360,
 78666,
 7026,
 93405,
 94403,
 2358,
 7201,
 7032,
 7666,
 68104,
 89701,
 94583,
 92704,
 6010,
 6108,
 4330,
 1462,
 2370,
 7047,
 7480,
 61801,
 68701,
 56301,
 94024,
 93635,
 95032,
 90266,
 1923,
 2457,
 3054,
 8332,
 90069,
 92683,
 90604,
 2019,
 1915,
 2341,
 7506,
 8601,
 30318,
 1845,
 39180,
 11704,
 11795,
 60543,
 95020,
 4106,
 2062,
 7042,
 10154,
 24281,
 37130,
 84404,
 84057,
 55416,
 46041,
 42104,
 41011,
 95336,
 4038,
 2148,
 8753,
 76067,
 11226,
 97756,
 85204,
 85737,
 84062,
 64064,
 63043,
 22025,
 60061,
 93101,
 95051,
 26501,
 88201,
 78155,
 75090,
 90008,
 68046,
 84604,
 60067,
 60068,
 60087,
 60185,
 75081,
 60187,
 60090,
 39701,
 89015,
 61554,
 61604,
 91767,
 6415,
 4210,
 2032,
 1801,
 3301,
 8021,
 7031,
 7054,
 60091,
 60517,
 46016,
 47401,
 46032,
 47201,
 21136,
 81001,
 90045,
 14224,
 10605,
 10701,
 97301,
 97477,
 97224,
 81007,
 48195,
 5701,
 43952,
 20852,
 20602,
 55106,
 55378,
 95062,
 93454,
 98119,
 60544,
 62301,
 55379,
 60089,
 89115,
 91730,
 2116,
 1540,
 77373,
 37211,
 75203,
 52501,
 64133,
 63301,
 64506,
 98387,
 99207,
 98408,
 77478,
 63116,
 63376,
 80229,
 80030,
 46307,
 46312,
 98105,
 90041,
 90405,
 95404,
 95070,
 6040,
 6460,
 6850,
 6702,
 1520,
 2152,
 7067,
 2840,
 48841,
 89031,
 89041,
 41042,
 6614,
 1803,
 1420,
 1089,
 2190,
 3053,
 3079,
 7003,
 7016,
 7039,
 8232,
 7901,
 85345,
 85023,
 60423,
 40324,
 86301,
 86314,
 97062,
 61201,
 98661,
 14215,
 61107,
 97068,
 18103,
 16602,
 72143,
 92054,
 6033,
 6484,
 6437,
 92691,
 95351,
 6512,
 7001,
 73064,
 27502,
 84067,
 29915,
 84106,
 32168,
 37830,
 42420,
 85254,
 8046,
 99362,
 37167,
 37174,
 79605,
 75002,
 79109,
 71854,
 80033,
 21222,
 6511,
 8002,
 91745,
 93117,
 6114,
 2210,
 1450,
 1060,
 3839,
 92544,
 92345,
 6405,
 6810,
 6492,
 75503,
 77590,
 46514,
 55126,
 89502,
 66202,
 11575,
 85635,
 93422,
 20746,
 76017,
 78745,
 77520,
 77705,
 76021,
 89431,
 20024,
 83616,
 76201,
 33430,
 10039,
 1887,
 7652,
 42240,
 26003,
 78521,
 77803,
 76028,
 96003,
 92374,
 1463,
 7008,
 8857,
 7050,
 7501,
 90278,
 6776,
 2127,
 1605,
 7002,
 2914,
 90049,
 75482,
 75067,
 19901,
 19711,
 94061,
 60610,
 6105,
 2108,
 3842,
 92503,
 95677,
 2339,
 1841,
 7079,
 91761,
 1718,
 1701,
 1040,
 2151,
 7650,
 93030,
 3431,
 7601,
 7450,
 11720,
 60459,
 7712,
 72022,
 28806,
 27217,
 27511,
 66762,
 55125,
 15221,
 11722,
 14225,
 11725,
 27514,
 28205,
 28027,
 27707,
 43017,
 15102,
 95695,
 95991,
 92399,
 90004,
 6473,
 2109,
 7030,
 85351,
 85374,
 3060,
 2864,
 11727,
 10573,
 60409,
 62901,
 18018,
 60441,
 60174,
 60193,
 60076,
 11729,
 11746,
 8816,
 8817,
 7646,
 65721,
 10282,
 18040,
 75220,
 77566,
 75146,
 78041,
 77573,
 80004,
 85281,
 85705,
 85364,
 72714,
 72015,
 92592,
 95661,
 75116,
 78852,
 78539,
 2118,
 79907,
 76039,
 75234,
 60188,
 75056,
 77381,
 75701,
 77901,
 76706,
 75165,
 76086,
 6611,
 1821,
 1056,
 1075,
 7801,
 90640,
 1876,
 7086,
 3801,
 7407,
 8226,
 7070,
 19805,
 32701,
 2040,
 10280,
 27237,
 84660,
 84663,
 35756,
 92646,
 90301,
 6050,
 6790,
 20016,
 34142,
 1108,
 1776,
 7843,
 2920,
 32712,
 46806,
 46404,
 46530,
 97420,
 19013,
 2112,
 1906,
 2451,
 7052,
 2861,
 19140,
 98801,
 75028,
 76106,
 75007,
 75104,
 78613,
 36830,
 35020,
 78641,
 10009,
 75057,
 60110,
 61821,
 77530,
 76031,
 80013,
 80303,
 40422,
 80020,
 80104,
 80906,
 73521,
 33433,
 33437,
 34210,
 91941,
 1930,
 8401,
 7097,
 46142,
 46324,
 47591,
 19134,
 15241,
 6320,
 47274,
 1749,
 2153,
 33180,
 75601,
 84074,
 98902,
 25314,
 82604,
 84084,
 84120,
 60623,
 11554,
 90058,
 80022,
 80219,
 77840,
 2478,
 1453,
 2744,
 8302,
 8028,
 7940,
 62234,
 10170,
 17201,
 77546,
 33511,
 33063,
 33055,
 78596,
 76308,
 52761,
 48101,
 32707,
 79424,
 75901,
 76063,
 75098,
 95207,
 6408,
 2703,
 1832,
 22304,
 46342,
 46203,
 94025,
 94086,
 91360,
 1027,
 1867,
 8863,
 60653,
 48104,
 49017,
 48708,
 84003,
 92553,
 95037,
 2113,
 47130,
 46901,
 47905,
 28031,
 44112,
 80112,
 21146,
 20901,
 44035,
 44117,
 65807,
 63130,
 63135,
 16509,
 17112,
 96150,
 6795,
 2638,
 8901,
 97801,
 29687,
 46226,
 46952,
 46410,
 68601,
 84010,
 84015,
 43081,
 44145,
 44691,
 82001,
 82716,
 33134,
 53110,
 60016,
 60516,
 46360,
 10045,
 94044,
 32137,
 59901,
 14901,
 33065,
 60478,
 46544,
 47302,
 47150,
 62205,
 6488,
 6710,
 1545,
 2072,
 55305,
 35211,
 35601,
 27288,
 92262,
 63385,
 92253,
 78363,
 33314,
 32114,
 46060,
 46368,
 47374,
 39530,
 39056,
 38701,
 39503,
 22003,
 22204,
 24060,
 78501,
 75150,
 33441,
 32720,
 60123,
 45385,
 28314,
 28307,
 6607,
 77571,
 63044,
 44094,
 44511,
 25705,
 82070,
 68901,
 20601,
 11598,
 11010,
 11520,
 95823,
 93905,
 2445,
 1748,
 45324,
 46322,
 97601,
 17602,
 46375,
 11542,
 10528,
 37743,
 74012,
 77095,
 39401,
 38637,
 39212,
 92404,
 94070,
 6901,
 11714,
 60098,
 27203,
 98072,
 90503,
 15131,
 33403,
 33445,
 22015,
 22901,
 23320,
 67114,
 25801,
 45014,
 45840,
 60611,
 77301,
 60007,
 20190,
 72701,
 72903,
 71901,
 19057,
 39301,
 44118,
 19464,
 30062,
 30907,
 30265,
 49534,
 27529,
 35473,
 72401,
 72209,
 92037,
 43026,
 45424,
 44240,
 45429,
 83843,
 88310,
 20012,
 11550,
 28052,
 27534,
 27405,
 27834,
 75034,
 30305,
 73034,
 73703,
 73505,
 73110,
 90036,
 79701,
 95376,
 1607,
 32725,
 34698,
 63141,
 60126,
 60201,
 61032,
 32780,
 46614,
 47802,
 46383,
 47906,
 50010,
 92672,
 92105,
 1945,
 30188,
 59102,
 61401,
 60137,
 94110,
 50021,
 52722,
 63119,
 26101,
 36330,
 90032,
 38654,
 39208,
 48187,
 49236,
 48126,
 48127,
 33178,
 11801,
 52601,
 50613,
 52402,
 15146,
 38671,
 1810,
 2334,
 1469,
 43230,
 1886,
 11741,
 35630,
 92008,
 6443,
 2110,
 1826,
 2035,
 2169,
 1550,
 1570,
 7080,
 7090,
 2808,
 87105,
 94306,
 22193,
 24541,
 ...]

In [117]:
st_usa_ord.head(20)

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,difference_date
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Illinois,Addison,60101,2012-05-28,2012-05-30,1.320000,2,5.90,88525,2 days
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.560000,4,13.01,88522,1 days
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.640000,7,49.92,88523,1 days
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.510000,7,41.64,88523,1 days
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.202300,8,1446.67,88523,0 days
5,23597,Medium,0.09,55.48,14.30,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,2011-11-09,2011-11-11,1388.052300,37,2011.67,88524,2 days
6,25549,Low,0.08,120.97,26.30,3,Bonnie Potter,Delivery Truck,Corporate,Technology,...,Washington,Anacortes,98221,2013-07-01,2013-07-08,1001.445300,12,1451.37,88526,7 days
7,20228,Not Specified,0.02,500.98,26.00,5,Ronnie Proctor,Delivery Truck,Home Office,Furniture,...,California,San Gabriel,91776,2010-12-13,2010-12-15,4390.366500,12,6362.85,90193,2 days
8,19483,Low,0.08,6.48,6.81,5,Ronnie Proctor,Regular Air,Home Office,Office Supplies,...,California,San Gabriel,91776,2012-05-12,2012-05-21,-141.260000,18,113.25,90197,9 days
9,24782,High,0.01,90.24,0.99,6,Dwight Hwang,Regular Air,Home Office,Office Supplies,...,California,San Jose,95123,2011-05-26,2011-05-26,1045.467300,16,1515.17,90194,0 days
10,24563,Critical,0.07,6.48,6.60,6,Dwight Hwang,Regular Air,Home Office,Office Supplies,...,California,San Jose,95123,2012-12-29,2012-12-31,-13.860000,4,28.61,90200,2 days
11,24564,Critical,0.01,4.84,0.71,6,Dwight Hwang,Regular Air,Home Office,Office Supplies,...,California,San Jose,95123,2012-12-29,2012-12-31,57.580500,17,83.45,90200,2 days
12,24565,Critical,0.10,85.99,0.99,6,Dwight Hwang,Regular Air,Home Office,Technology,...,California,San Jose,95123,2012-12-29,2012-12-31,1176.505200,24,1705.08,90200,2 days
13,21866,High,0.05,12.28,4.86,7,Leon Gill,Regular Air,Home Office,Office Supplies,...,Massachusetts,Fall River,2724,2012-10-30,2012-10-31,72.992800,19,232.95,90198,1 days
14,20876,Medium,0.08,140.98,36.09,8,Melanie Garner,Delivery Truck,Home Office,Furniture,...,New Hampshire,Bedford,3110,2012-12-25,2012-12-26,-158.740000,5,705.47,90199,1 days
15,20877,Medium,0.10,286.85,61.76,9,Lorraine Houston,Delivery Truck,Home Office,Furniture,...,New Jersey,Camden,8101,2012-12-25,2012-12-27,-346.615198,8,1794.27,90199,2 days
16,22241,Critical,0.06,15.57,1.39,10,Meredith Norris Thomas,Regular Air,Home Office,Office Supplies,...,New Jersey,Pennsauken,8109,2011-10-04,2011-10-05,142.795500,14,206.95,90195,1 days
17,21776,Critical,0.06,9.48,7.29,11,Marcus Dunlap,Regular Air,Home Office,Furniture,...,New Jersey,Roselle,7203,2010-08-15,2010-08-17,-53.809600,22,211.15,90192,2 days
18,23328,High,0.04,10.98,3.37,12,Kara Pace,Regular Air,Home Office,Office Supplies,...,Rhode Island,Cranston,2907,2012-02-24,2012-02-26,23.120000,8,90.39,90196,2 days
19,24844,Medium,0.09,78.69,19.99,14,Gwendolyn F Tyson,Regular Air,Small Business,Furniture,...,Minnesota,Prior Lake,55372,2010-05-12,2010-05-14,803.470500,16,1164.45,86838,2 days

In [ ]:
  #  14 . which customer segement is more profitalble find it out

In [112]:
st_usa_ord.groupby(['Customer Segment'])['Profit'].max()

Customer Segment
Consumer           8118.8919
Corporate         12504.9045
Home Office       16332.4140
Small Business    11429.4774
Name: Profit, dtype: float64

In [113]:
st_usa_ord.groupby(['Customer Segment'])['Profit'].max().sort_values(ascending =False)[0:1]

Customer Segment
Home Office    16332.414
Name: Profit, dtype: float64

In [ ]:
# 15 . try to find out the 10th most loss making product catagory .

In [116]:
st_usa_ord.groupby(['Product Category'])['Profit'].min()

Product Category
Furniture         -13706.46400
Office Supplies   -14369.12358
Technology        -16476.83800
Name: Profit, dtype: float64

In [119]:
st_usa_ord[st_usa_ord['Profit']<0].reset_index().sort_values('Profit', ascending = True).head(10)

,index,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,...,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,difference_date
2291,4659,18306,Medium,0.08,175.99,4.99,1738,Dean Solomon,Regular Air,Corporate,...,North Carolina,Gastonia,28052,2010-03-28,2010-03-28,-16476.838000,10,1486.34,85865,0 days
2121,4338,20972,Low,0.01,24.95,2.99,1632,Lori Wolfe,Regular Air,Home Office,...,Mississippi,Hattiesburg,39401,2012-05-21,2012-05-21,-14369.123580,3,81.31,90534,0 days
3811,7800,23213,Low,0.09,6783.02,24.49,2855,Vicki Womble,Regular Air,Consumer,...,Washington,Des Moines,98198,2010-03-10,2010-03-14,-14140.701600,1,6296.00,87317,4 days
2381,4844,21284,Critical,0.04,880.98,44.55,1793,Derek Jernigan,Delivery Truck,Home Office,...,Illinois,Galesburg,61401,2010-01-06,2010-01-07,-13706.464000,8,6968.90,87853,1 days
2660,5402,24076,Medium,0.04,6783.02,24.49,2004,James Dickinson Ball,Regular Air,Home Office,...,Montana,Bozeman,59715,2010-10-17,2010-10-19,-13562.637408,1,6569.07,91277,2 days
2664,5409,22942,High,0.05,3502.14,8.73,2006,Cynthia Khan,Delivery Truck,Home Office,...,Colorado,Durango,81301,2011-01-18,2011-01-19,-10402.943916,1,3460.11,88799,1 days
3771,7725,21048,Not Specified,0.06,6783.02,24.49,2825,Carole Rosen,Regular Air,Consumer,...,Idaho,Boise,83701,2011-09-12,2011-09-14,-10263.659700,2,9507.12,89498,2 days
1061,2191,21575,Not Specified,0.05,3499.99,24.49,838,Gary Walton,Regular Air,Consumer,...,California,Hacienda Heights,91745,2013-10-02,2013-10-03,-9078.940000,2,6849.48,89896,1 days
1977,4068,21917,High,0.06,3502.14,8.73,1530,Seth Sweeney,Delivery Truck,Consumer,...,California,Palm Springs,92262,2012-07-07,2012-07-09,-8570.448300,1,3057.44,88853,2 days
2387,4857,24251,High,0.05,3502.14,8.73,1796,Carlos Johnson,Delivery Truck,Corporate,...,California,San Francisco,94110,2013-03-23,2013-03-24,-7961.430900,1,3360.30,90778,1 days

In [123]:
st_usa_ord[st_usa_ord['Profit']<0].reset_index().sort_values('Profit', ascending = True).iloc[[9]]

,index,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,...,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,difference_date
2387,4857,24251,High,0.05,3502.14,8.73,1796,Carlos Johnson,Delivery Truck,Corporate,...,California,San Francisco,94110,2013-03-23,2013-03-24,-7961.4309,1,3360.3,90778,1 days

In [124]:
st_usa_ord.columns

Index(['Row ID', 'Order Priority', 'Discount', 'Unit Price', 'Shipping Cost',
       'Customer ID', 'Customer Name', 'Ship Mode', 'Customer Segment',
       'Product Category', 'Product Sub-Category', 'Product Container',
       'Product Name', 'Product Base Margin', 'Region', 'State or Province',
       'City', 'Postal Code', 'Order Date', 'Ship Date', 'Profit',
       'Quantity ordered new', 'Sales', 'Order ID', 'difference_date'],
      dtype='object')

In [ ]:
#6 . Try to find out 10 top  product with highest margins

In [131]:
st_usa_ord.sort_values(['Product Base Margin'])['Product Name'].head(10)

2431              GBC DocuBind 200 Manual Binding Machine
8248       Peel & SeelÂ® Recycled Catalog Envelopes, Brown
1515       Peel & SeelÂ® Recycled Catalog Envelopes, Brown
5050       Peel & SeelÂ® Recycled Catalog Envelopes, Brown
413                                           Accessory31
5034                          Prang Dustless Chalk Sticks
8308         Staples Brown Kraft Recycled Clasp Envelopes
8311     Storex DuraTech Recycled Plastic Frosted Binders
8318                                          Accessory31
1553    Adams Telephone Message Book w/Frequently-Call...
Name: Product Name, dtype: object